/* General */
* {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Page layout */
:root {
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #202124;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

#root {
    min-width: 320px;
    min-height: 100vh;
    max-width: 1600px;
    margin: auto;

    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
}

.content {
    flex-grow: 1;
    display: flex;
}

.page {
    flex-grow: 1;
}

.config-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 5em */
}

.config-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Text input */
.config-input input[type="text"],
.config-input input[type="number"] {
    border: 1px solid #c7a3ff;
    border-radius: 5px;
    background-color: #2d2e30;
    color: white;
    padding: 10px 20px;
    font-size: 16;
    width: 360px;

    transition: all 0.2s;
}

.config-input label {
    color: #c7a3ff;
    padding: 10px;
    width: 80px;
    display: inline-block;
    text-align: end;

    transform: translateX(50);
    transition: all 0.2s;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

input[type="text"]:focus,
input[type="number"]:focus,
button:focus {
    outline: none;
    box-shadow: 0 0 5px 1px #c7a3ff;
}

/* Helpers */
.shadow {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
}


/* General */

a {
    font-weight: 500;
    color: #b490ec;
    text-decoration: inherit;
}

a:hover {
    color: #c7a3ff;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}