.graphic {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;

    display: flex;
    gap: 5px;
    width: 400px;

    overflow: hidden;
    border-radius: var(--border-radius);
    box-sizing: content-box;

    background: linear-gradient(135deg, var(--card-grd1), var(--card-grd2));
    filter: drop-shadow(0px 0px 0px rgb(173, 155, 255, 0));
}

.red .graphic {
    background: linear-gradient(135deg, var(--card-red-grd1), var(--card-red-grd2));
}

.box-glow {
    box-shadow: 0px 5px 80px 10px var(--card-glow);
}
.red .box-glow {
    box-shadow: 0px 5px 80px 10px var(--card-red-glow);
}

.card-border {
    z-index: 1;
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    background: linear-gradient(135deg, var(--border-grd1), var(--border-grd2)) border-box;
}

.red .card-border {
    background: linear-gradient(135deg, var(--border-red-grd1), var(--border-red-grd2)) border-box;
}

.card-secondary-text {
    color: var(--border-grd1);
}

.red .card-secondary-text {
    color: var(--border-red-grd1);
}

.graphic-fightercard {
    padding: 40px 20px;
    flex-direction: column;
}

.graphic-lowerthird {
    padding: 10px 20px;
    flex-direction: column;
}

.card-list div {
    display: flex;
}

.noise::after {
    content: '';
    position: absolute;
    width: 150%;
    height: 150%;
    top: -25%;
    left: -25%;
    z-index: 2;
    background: #000;
    filter: url(#noise);
    opacity: 16%;
    mix-blend-mode: hard-light;
    transition: all ease 0.3s;
}

.card-subtitle {
    margin: 0 auto;
    text-align: center;
}